<style>

</style>

<div  id='loginpage'>
<div id="loginContainer">
<input id="nickname" class="form-control input-lg"  type="text" placeholder="enter nick name to enter chat room"/>
<br>
<label id="error" style="color :red"></label>
<br>
<input type="button"  class="btn btn-primary btn-group-lg" id='login' value="Enter chat room"/>
</div>

</div>